@font-face {
  font-family: Satoshi;
  src: url(./Assets/Satoshi-Medium.otf);
}
:root
{
  font-family: Satoshi;
  font-size: 2rem;
  background-color: #000000;
  color: #d6fe51;

}
.wrapper {
  padding: 20px;
  text-align: center;
}

.polt{
  outline: 0;
  width: 100px;
  text-align: center;
  margin: 20px;
  color: black;
  background-color: #d6fe51;
  border-radius: 20px;
  position: absolute;
  top:75%;
  left: 45%;
  transform: translate(-50%,-50%);
}

.polt:hover{
  background-color: rgb(158, 109, 18);
  cursor: pointer;
}

.crd-plt{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 450px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #000000;
  border-radius: 20px;
  position: relative;
}



.crd-plt img{
  width: 250px;
  height: 300px;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}